
#formBox {
    width: 500px;
    height: 500px;
    position: absolute;
    font-size: 80px !important;
    border: 1px solid gray;
    color: skyblue;
    right: 100px;
    margin-top: 100px;
    border-radius: 15px;
    transition: background-color .5s linear;
}

#formBox:hover {
    background-color: rgba(0, 0, 0, 0.3);

}

.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;

}

form .input_outer .iconfont {
    height: 20px;
    width: 20px;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 10px;
}

