{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">





    <base href="/">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/baseloginAndRegister.css' %}"/>
{#  #}


</head>
<body>

<div class="container">

    <div id="canvas_container">




        {% block content %} {% endblock %}



    </div>
</div>


</body>
</html>
<base href="/">
<script src='{% static "js/login1.js" %}'></script>
<script src='{% static "js/login2.js" %}'></script>
<script src='{% static "js/login3.js" %}'></script>