<div class="msgCon"><div class="msgBox">
						<div class="headUrl">
							<img src="/static/imgs/avatar.png" width="50" height="50">
							<div>
								<span class="title">LLL</span>
								<span class="time">2021-5-20</span>
							</div>
							<a class="del">删除</a>
						</div>
						<div class="msgTxt">
							吃饭了没
						</div>
					</div><div class="msgBox">
						<div class="headUrl">
							<img src="/static/imgs/avatar.png" width="50" height="50">
							<div>
								<span class="title">LLL</span>
								<span class="time">2021-5-20</span>
							</div>
							<a class="del">删除</a>
						</div>
						<div class="msgTxt">
							你好呀
						</div>
					</div></div>