<style>
    #myBlog-footer {
        width: 100%;
        height: 135px;
        background-color: rgba(66, 66, 66, .5);
        border-radius: 15px;
        position: relative;
    }

</style>
<div id="myBlog-footer">
    <div style="text-align: center; font-size: 30px; position: absolute;width: 15%;height: 60%;"><a href="#"
                                                                                                    style="border-right: 1px solid gray;color: #FFFFFF!important;width: 100%;height: 100%;display: block;line-height: 79px;text-decoration: none">About</a>
    </div>
    <div style="left: 15%;text-align: center; position: absolute;width: 15%;height: 60%;"><a style="color: #FFFFFF!important;width: 100%;height: 100%;display: block;line-height: 79px;text-decoration: none;border-right: 1px solid gray;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=鄂ICP备20013301号">鄂ICP备20013301号</a>
    </div>
    <span style="position: absolute;left: 35%;top:5px;height: 40%; width: 10%;display:block;color: #FFFFFF;">友情链接:</span>
    <ul style="width: 55%;height: 60%;position: absolute;left: 45%;">
        <li style="width: 20%;height: 50%;float: left;text-align: center;line-height: 40px;"><a href="#" style="color: #FFFFFF!important;">百度</a></li>
        <li style="width: 20%;height: 50%;float: left;text-align: center;line-height: 40px;"><a href="#" style="color: #FFFFFF!important;">腾讯</a></li>
        <li style="width: 20%;height: 50%;float: left;text-align: center;line-height: 40px;"><a href="#" style="color: #FFFFFF!important;">微软</a></li>
    </ul>
    <div id="end"
         style="left:0;position: absolute;bottom: 0; width:100%;height:50px;line-height:50px;background-color:#8080802b; display:inline-block; text-align:center">
        Copyrights©2021 0318-SPACE All Rights Reserved.
        Email: 2474605919@qq.com
    </div>
</div>