{% extends 'baseForPlanet.html' %}
{% load static %}
{% block title %}学习星球{% endblock %}
{% block content2 %}


    <style>


        #learn-content {
            width: 100%;
            position: relative;
            margin-top: 10px;
            border-radius: 15px;
            margin-bottom: 10px;
        }

        #learn-content-le {
            width: 900px;
            left: 0;
            top: 0;
            position: relative;
            display: inline-block;
            color: black;
            background-color: rgba(255, 243, 205, 0.9);
            border-radius: 15px;
            min-height: 850px;

        }

        {% comment %}当前位置{% endcomment %}
        #nowLocation {
            top: 0;
            width: 100%;
            height: 50px;
            position: relative;
            line-height: 50px;
            padding-left: 20px;
            border-bottom: 1px solid gray;
        }

        {% comment %}文章部分{% endcomment %}
        #learn-blogContent {
            width: 100%;
            position: relative;
            overflow: hidden;

        }

        #article-detail {
            width: 100%;
            position: relative;
            top: 0;
            height: 30px;
            line-height: 30px;
        }

        #article-detail span {
            font-size: 14px;
            color: gray !important;
            margin-left: 10px;
        }

        #modifyBlog {
            position: absolute;
            right: 10px;
            border: 1px solid gray;
            border-radius: 5px;
            height: 20px;
            line-height: 20px;
            top: 5px;
            font-size: 14px;
            text-align: center;
            width: 90px;
            background-color: whitesmoke;

        }

        #modifyBlog a, #modifyBlog a .iconfont {
            color: black !important;

        }


        {% comment %}文章内容{% endcomment %}
        #main-content {
            position: relative;
            width: 100%;
            padding: 15px;
            box-sizing: border-box !important;
        }

        {% comment %}文章收藏,点赞等{% endcomment %}
        #blog-extend {

            width: 100%;
            position: relative;
            border-top: 1px solid gray;


        }

        #blog-extend #collect, #doCall {
            top: 20px;
            width: 100px;
            height: 30px;
            position: absolute;
            border-radius: 10px;
            text-align: center;
            color: black;
            line-height: 30px;

        }

        #collect .iconfont, #doCall .iconfont {
            font-size: 20px;
        }

        #collect {
            right: 350px;
        }

        #doCall {
            right: 150px;
            color: #a27b7b;
            transition: background-color 0.5s;
            cursor: pointer;
        }

        #doCall:hover {
            background-color: #8fd19e;
        }


        #lastPage, #nextPage {
            position: absolute;
            top: 100px;
            width: 100px;
            text-align: center;
            height: 30px;
            line-height: 30px;
            border-radius: 10px;
        }

        #lastPage {
            left: 100px;
        }

        #nextPage {
            right: 100px;
        }


        #learn-content-ri {
            position: absolute;
            left: 910px;
            top: 50px;
            border-radius: 15px;
            width: 380px;

        }

        #learn-content-ri * {
            border-radius: 5px;
            overflow: hidden;
            outline: none !important;
            border: none;

        }

        #recommend {
            position: relative;
            width: 100%;
            top: 50px;
            height: 300px;
            border: 1px solid gray;
            color: #FFFFFF;
            background-color: #8fd19e;
        }


        #recommendTag {
            position: relative;
            height: 20px;
            top: 50px;
            width: 100px;
            display: inline-block;
            color: #FFFFFF;

        }


        #recommend ul {
            width: 100%;
            height: 100%;

        }

        #recommend ul li {
            width: 100%;
            height: 20%;
            line-height: 60px;
            padding-left: 20px;
            border-bottom: 1px solid gray;
            overflow: hidden; /*隐藏超出的部分*/
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        #recommend ul li a {
            width: 100%;
            color: #FFFFFF;
        }


    </style>
    {% comment %}小火箭{% endcomment %}
    <style>
        /* actGotop */
        .actGotop {
            position: fixed;
            _position: absolute;
            bottom: 50px;
            right: 10px;
            width: 120px;
            height: 195px;
            display: none;
        }

        .actGotop a, .actGotop a:link {
            width: 150px;
            height: 195px;
            display: inline-block;
            background: url({% static 'imgs/rock.png' %}) no-repeat;
            _background: url({% static 'imgs/rock2.gif' %}) no-repeat;
            outline: none;
        }

        .actGotop a:hover {
            background: url({% static 'imgs/rock3.gif' %}) no-repeat;
            outline: none;
        }
    </style>
    {% comment %}回到顶部的小火箭{% endcomment %}
    <div id="learn-content">


        <div id="learn-content-le">

            {% comment %}显示当前位置{% endcomment %}
            <div id="nowLocation">
                当前位置: <strong><a href="#">{{ blogCategory }}</a></strong>>> <strong><a
                    href="{% url 'app:learningPlanet' blogid=blogid %}">{{ blogTitle }}</a></strong>
            </div>

            {% comment %}文章部分{% endcomment %}
            <div id="learn-blogContent">
                {% comment %}标题{% endcomment %}
                <h1 style="text-align: center;height: 40px;padding: 0;margin: 0;">{{ blogTitle }}</h1>
                {% comment %}文章相关信息{% endcomment %}
                <div id="article-detail">

                    <span>作者: <a href="#">{{ authorName }}</a></span>
                    <span>浏览量:{{ blogTotalViews }}</span>
                    <span>发布时间:{{ blogCreatedTime }}</span>
                    <span>更新时间:{{ blogUpdatedTime }}</span>

                    {% for blogTag in blogTags %}
                        <span style="margin: 0;padding: 0"><span class="iconfont">&#xe636;</span>{{ blogTag }}</span>

                    {% endfor %}


                    <span id="modifyBlog"><a href="{% url 'app:modifyBlog' blogid=blogid authorid=1 %} "><span
                            class="iconfont">&#xe700;</span> 修改本文</a></span>

                </div>

                {% comment %}文章内容{% endcomment %}
                <style>
                    .hljs {
                        display: block;
                        overflow-x: auto;
                        padding: .5em;
                        color: #333;
                        background: #f8f8f8;
                        -webkit-text-size-adjust: none
                    }

                    .diff .hljs-header, .hljs-comment {
                        color: #998;
                        font-style: italic
                    }

                    .css .rule .hljs-keyword, .hljs-keyword, .hljs-request, .hljs-status, .hljs-subst, .hljs-winutils, .nginx .hljs-title {
                        color: #333;
                        font-weight: 700
                    }

                    .hljs-hexcolor, .hljs-number, .ruby .hljs-constant {
                        color: teal
                    }

                    .hljs-doctag, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula {
                        color: #d14
                    }

                    .hljs-id, .hljs-title, .scss .hljs-preprocessor {
                        color: #900;
                        font-weight: 700
                    }

                    .hljs-list .hljs-keyword, .hljs-subst {
                        font-weight: 400
                    }

                    .hljs-class .hljs-title, .hljs-type, .tex .hljs-command, .vhdl .hljs-literal {
                        color: #458;
                        font-weight: 700
                    }

                    .django .hljs-tag .hljs-keyword, .hljs-rule .hljs-property, .hljs-tag, .hljs-tag .hljs-title {
                        color: navy;
                        font-weight: 400
                    }

                    .hljs-attribute, .hljs-name, .hljs-variable, .lisp .hljs-body {
                        color: teal
                    }

                    .hljs-regexp {
                        color: #009926
                    }

                    .clojure .hljs-keyword, .hljs-prompt, .hljs-symbol, .lisp .hljs-keyword, .ruby .hljs-symbol .hljs-string, .scheme .hljs-keyword, .tex .hljs-special {
                        color: #990073
                    }

                    .hljs-built_in {
                        color: #0086b3
                    }

                    .hljs-cdata, .hljs-doctype, .hljs-pi, .hljs-pragma, .hljs-preprocessor, .hljs-shebang {
                        color: #999;
                        font-weight: 700
                    }

                    .hljs-deletion {
                        background: #fdd
                    }

                    .hljs-addition {
                        background: #dfd
                    }

                    .diff .hljs-change {
                        background: #0086b3
                    }

                    .hljs-chunk {
                        color: #aaa
                    }
                </style>
                <div id="main-content" class="wangEditor-txt"> {% comment %}id=""{% endcomment %}
                        {{ blogContent|safe }}

                    {% comment %}文章内容end{% endcomment %}


                    {% comment %}文章收藏,点赞等{% endcomment %}
                    <div id="blog-extend">

                        <span id="collect"><a href="#"><span class="iconfont">&#xe620;</span>&nbsp;收藏本文</a></span>
                        <span id="doCall"><span class="iconfont">&#xe697;</span>&nbsp;<span
                                class="likeNum">{{ blogTotalLikes }}</span> </span>


                        <span id="lastPage"><a href="{% url 'app:learningPlanet' blogid=preBlogId %}"><span
                                class="iconfont">&#xe600;</span>&nbsp;上一篇</a></span>
                        <span id="nextPage"><a href="{% url 'app:learningPlanet' blogid=nextBlogId %}">下一篇&nbsp;<span
                                class="iconfont">&#xe621;</span></a></span>

                        {% comment %}评论{% endcomment %}
                        <style type="text/css">


                            #qq {
                                width: 600px;
                                /*宽*/
                                height: 200px;
                                /*高*/
                                background: #fff;
                                /*背景颜色*/
                                margin: 50px auto 30px;
                                margin-top: 150px;

                                border-radius: 5px;
                                /*Html5 圆角*/
                            }

                            #qq p {
                                font-size: 12px;
                                color: #666;
                                font-family: "微软雅黑";
                                line-height: 45px;
                                text-indent: 20px;
                            }

                            #qq .message {
                                width: 560px;
                                height: 70px;
                                margin: 0 auto;
                                overflow: auto;
                                outline: none;
                                border: 1px solid #ddd;
                                padding: 8px;
                                box-sizing: border-box;
                                font-size: 14px;
                                color: #e77f29;
                                -webkit-background-clip: text;
                            {#background-image: linear-gradient(to right, #778899 0%, #333 100%);#}
                                /*粗细 风格 颜色*/
                            }

                            #qq .But {
                                width: 560px;
                                height: 35px;
                                margin: 15px auto 0;
                                position: relative;
                                /*相对，参考对象*/
                            }

                            #qq .But img.bq {
                                float: left;
                                /*左浮动*/
                            }

                            #qq .But span.submit {
                                margin: 0;
                                padding: 0;
                                width: 80px;
                                height: 30px;
                                background: #ff8140;
                                display: block;
                                float: right;
                                /*右浮动*/
                                line-height: 30px;
                                border-radius: 5px;
                                cursor: pointer;
                                /*手指*/
                                color: #fff;
                                font-size: 12px;
                                text-align: center;
                                font-family: "微软雅黑";
                            }

                            /*face begin*/
                            #qq .But .face {
                                width: 440px;
                                background: #fff;
                                border: 1px solid #ddd;
                                box-shadow: 0 0 12px #666;
                                position: absolute;
                                /*绝对定位*/
                                top: 21px;
                                left: 15px;
                                display: none;
                                /*隐藏*/
                            }

                            #qq .But .face ul {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                padding: 8px;
                                box-sizing: border-box;
                            }

                            #qq .But .face ul li {
                                width: 30px;
                                height: 30px;
                                list-style-type: none;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            /*msgCon begin*/
                            .msgCon {
                                width: 600px;
                                margin: 0 auto;
                                margin-bottom: 60px;
                            }

                            .msgCon .msgBox {
                                background: #fff;
                                padding: 10px;
                                box-sizing: border-box;
                                margin-top: 16px;
                                border-radius: 4px;
                            }

                            .msgCon .msgBox .headUrl {
                                width: 100%;
                                height: 60px;
                                border-bottom: 1px dotted #ddd;
                                display: flex;
                                align-items: center;
                            }

                            .msgCon .msgBox .headUrl img {
                                width: 46px;
                                height: 46px;
                                border-radius: 50%
                            }

                            .msgCon .msgBox .headUrl div {
                                flex: 1;
                                display: flex;
                                flex-flow: column;
                                font-size: 16px;
                                margin-left: 16px;
                                -webkit-background-clip: text;
                                color: transparent;
                                background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
                            }

                            .msgCon .msgBox .headUrl div .time {
                                font-size: 14px;
                                margin-top: 6px;
                                -webkit-background-clip: text;
                                color: transparent;
                                background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
                            }

                            .msgCon .msgBox .headUrl a {
                                font-size: 14px;
                                padding: 10px;
                                color: salmon;
                                cursor: pointer;
                            }

                            .msgCon .msgBox .msgTxt {
                                font-size: 14px;
                                color: #666;
                                min-height: 40px;
                                line-height: 24px;
                                padding: 10px;
                                box-sizing: border-box;
                                word-wrap: break-word;
                                -webkit-background-clip: text;
                                color: transparent;
                                background-image: linear-gradient(to right, #778899 0%, #333 100%);
                            }
                        </style>
                        <div id="qq">
                            <p>有什么想对作者说的吗?</p>
                            <div class="message" contentEditable='true'></div>
                            <div class="But">
                                <img src="{% static 'imgs/bba_thumb.gif' %}" class='bq'/>
                                <span class='submit'>发表</span>
                                <!--face begin-->
                                <div class="face">
                                    <ul>
                                        <li><img src="{% static 'imgs/smilea_thumb.gif' %}" title="呵呵]"></li>
                                        <li><img src="{% static 'imgs/tootha_thumb.gif' %} " title="嘻嘻]"></li>
                                        <li><img src="{% static 'imgs/laugh.gif' %} " title="[哈哈]"></li>
                                        <li><img src="{% static 'imgs/tza_thumb.gif   ' %}    " title="[可爱]"></li>
                                        <li><img src="{% static 'imgs/kl_thumb.gif    ' %}  " title="[可怜]"></li>
                                        <li><img src="{% static 'imgs/kbsa_thumb.gif  ' %}   " title="[挖鼻屎]"></li>
                                        <li><img src="{% static 'imgs/cj_thumb.gif    ' %}   " title="[吃惊]"></li>
                                        <li><img src="{% static 'imgs/shamea_thumb.gif' %}    " title="[害羞]"></li>
                                        <li><img src="{% static 'imgs/zy_thumb.gif    ' %}   " title="[挤眼]"></li>
                                        <li><img src="{% static 'imgs/bz_thumb.gif    ' %}   " title="[闭嘴]"></li>
                                        <li><img src="{% static 'imgs/bs2_thumb.gif   ' %}   " title="[鄙视]"></li>
                                        <li><img src="{% static 'imgs/lovea_thumb.gif ' %}     " title="[爱你]"></li>
                                        <li><img src="{% static 'imgs/sada_thumb.gif  ' %}    " title="[泪]"></li>
                                        <li><img src="{% static 'imgs/heia_thumb.gif  ' %}    " title="[偷笑]"></li>
                                        <li><img src="{% static 'imgs/qq_thumb.gif    ' %}   " title="[亲亲]"></li>
                                        <li><img src="{% static 'imgs/sb_thumb.gif    ' %}   " title="[生病]"></li>
                                        <li><img src="{% static 'imgs/mb_thumb.gif    ' %}       " title="[太开心]"></li>
                                        <li><img src="{% static 'imgs/ldln_thumb.gif  ' %}   " title="[懒得理你]"></li>
                                        <li><img src="{% static 'imgs/yhh_thumb.gif   ' %}    " title="[右哼哼]"></li>
                                        <li><img src="{% static 'imgs/zhh_thumb.gif   ' %}  " title="[左哼哼]"></li>
                                        <li><img src="{% static 'imgs/x_thumb.gif     ' %}  " title="[嘘]"></li>
                                        <li><img src="{% static 'imgs/cry.gif         ' %}   " title="[衰]"></li>
                                        <li><img src="{% static 'imgs/wq_thumb.gif    ' %}  " title="[委屈]"></li>
                                        <li><img src="{% static 'imgs/t_thumb.gif      ' %}   " title="[吐]"></li>
                                        <li><img src="{% static 'imgs/k_thumb.gif      ' %}   " title="[打哈气]"></li>
                                        <li><img src="{% static 'imgs/bba_thumb.gif    ' %}   " title="[抱抱]"></li>
                                        <li><img src="{% static 'imgs/angrya_thumb.gif ' %}    " title="[怒]"></li>
                                        <li><img src="{% static 'imgs/yw_thumb.gif     ' %}  " title="[疑问]"></li>
                                        <li><img src="{% static 'imgs/cza_thumb.gif    ' %}   " title="[馋嘴]"></li>
                                        <li><img src="{% static 'imgs/88_thumb.gif     ' %}  " title="[拜拜]"></li>
                                        <li><img src="{% static 'imgs/sk_thumb.gif     ' %}  " title="[思考]"></li>
                                        <li><img src="{% static 'imgs/sweata_thumb.gif ' %}     " title="[汗]"></li>
                                        <li><img src="{% static 'imgs/sleepya_thumb.gif' %}     " title="[困]"></li>
                                        <li><img src="{% static 'imgs/sleepa_thumb.gif ' %}     " title="[睡觉]"></li>
                                        <li><img src="{% static 'imgs/money_thumb.gif  ' %}     " title="[钱]"></li>
                                        <li><img src="{% static 'imgs/sw_thumb.gif     ' %}   " title="[失望]"></li>
                                        <li><img src="{% static 'imgs/cool_thumb.gif   ' %}   " title="[酷]"></li>
                                        <li><img src="{% static 'imgs/hsa_thumb.gif    ' %}    " title="[花心]"></li>
                                        <li><img src="{% static 'imgs/hatea_thumb.gif  ' %}      " title="[哼]"></li>
                                        <li><img src="{% static 'imgs/gza_thumb.gif    ' %}     " title="[鼓掌]"></li>
                                        <li><img src="{% static 'imgs/dizzya_thumb.gif ' %}     " title="[晕]"></li>
                                        <li><img src="{% static 'imgs/bs_thumb.gif     ' %}   " title="[悲伤]"></li>
                                        <li><img src="{% static 'imgs/crazya_thumb.gif ' %}     " title="[抓狂]"></li>
                                        <li><img src="{% static 'imgs/h_thumb.gif      ' %}    " title="[黑线]"></li>
                                        <li><img src="{% static 'imgs/yx_thumb.gif     ' %}    " title="[阴险]"></li>
                                        <li><img src="{% static 'imgs/nm_thumb.gif     ' %}    " title="[怒骂]"></li>
                                        <li><img src="{% static 'imgs/hearta_thumb.gif ' %}      " title="[心]"></li>
                                        <li><img src="{% static 'imgs/unheart.gif      ' %}    " title="[伤心]"></li>
                                        <li><img src="{% static 'imgs/pig.gif          ' %} " title="[猪头]"></li>
                                        <li><img src="{% static 'imgs/ok_thumb.gif     ' %}  " title="[ok]"></li>
                                        <li><img src="{% static 'imgs/ye_thumb.gif     ' %}      " title="[耶]"></li>
                                        <li><img src="{% static 'imgs/good_thumb.gif   ' %}        " title="[good]">
                                        </li>
                                        <li><img src="{% static 'imgs/no_thumb.gif     ' %}    " title="[不要]"></li>
                                        <li><img src="{% static 'imgs/z2_thumb.gif     ' %}        " title="[赞]"></li>
                                        <li><img src="{% static 'imgs/come_thumb.gif   ' %}           " title="[来]">
                                        </li>
                                        <li><img src="{% static 'imgs/sad_thumb.gif' %}" title="[弱]"></li>
                                        <li><img src="{% static 'imgs/lazu_thumb.gif' %}" title="[蜡烛]"></li>
                                        <li><img src="{% static 'imgs/clock_thumb.gif ' %}" title="[钟]"></li>
                                        <li><img src="{% static 'imgs/cake.gif' %}" title="[蛋糕]"></li>
                                        <li><img src="{% static 'imgs/m_thumb.gif' %}" title="[话筒]"></li>
                                        <li><img src="{% static 'imgs/weijin_thumb.gif' %}" title="[围脖]">
                                        </li>
                                        <li><img src="{% static 'imgs/lxhzhuanfa_thumb.gif' %}" title="[转发]">
                                        </li>
                                        <li><img src="{% static 'imgs/lxhluguo_thumb.gif' %}" title="[路过这儿]"></li>
                                        <li><img src="{% static 'imgs/bofubianlian_thumb.gif' %}"
                                                 title="[bofu变脸]"></li>
                                        <li><img src="{% static 'imgs/gbzkun_thumb.gif' %}"
                                                 title="[gbz困]"></li>
                                        <li><img src="{% static 'imgs/boboshengmenqi_thumb.gif' %}"
                                                 title="[生闷气]"></li>
                                        <li><img src="{% static 'imgs/chn_buyaoya_thumb.gif' %}" title="[不要啊]">
                                        </li>
                                        <li><img src="{% static 'imgs/daxiongleibenxiong_thumb.gif' %}"
                                                 title="[dx泪奔]"></li>
                                        <li><img src="{% static 'imgs/cat_yunqizhong_thumb.gif' %}"
                                                 title="[运气中]"></li>
                                        <li><img src="{% static 'imgs/youqian_thumb.gif' %}" title="[有钱]">
                                        </li>
                                    </ul>
                                </div>
                                <!--face end-->
                            </div>
                        </div>
                        <!--qq end-->
                        <!--msgCon begin-->
                        <div class="msgCon"></div>
                        <script type="text/javascript" src="{% static 'js/pinlun.js' %}"></script>
                        <script type="text/javascript">
                            let msgBoxList = [];
                            window.onload = function () {
                                {% comment %}请求服务器获取对应的评论信息{% endcomment %}
                                $ajax('post', '{% url "app:returnJudgeList" %}', {'blogId':{{blogid}}},
                                    function (msg) {
                                        msgBoxList = JSON.parse(msg)['judgeList'];
                                        {#alert('成功' + msg);#}
                                        innerHTMl(msgBoxList);

                                    },
                                    function (msg) {
                                        {#alert('失败' + msg);#}
                                    });


                                {% comment %}点赞功能的实现{% endcomment %}
                                let doCall = document.getElementById('doCall');
                                doCall.onclick = function () {
                                    let spanObj = doCall.getElementsByTagName('span')[1];
                                    let spanClassName = spanObj.className;
                                    let nowLikeNum = parseInt(spanObj.innerHTML);
                                    if (spanClassName.toLowerCase() === 'likenum') {
                                        $ajax('post', {% url 'app:doCall' %}, {'blogId':{{ blogid }}, 'docall': 1});
                                        {% comment %}获赞量加一{% endcomment %}
                                        nowLikeNum += 1;
                                        spanObj.innerHTML = nowLikeNum;
                                        spanObj.className = 'notLike';
                                        doCall.style.backgroundColor = '#8fd19e';
                                        doCall.onmouseover = function () {
                                        }
                                        doCall.onmouseleave = function () {
                                        }

                                    }

                                    if (spanClassName.toLowerCase() === 'notlike') {
                                        $ajax('post', {% url 'app:doCall' %}, {'blogId':{{ blogid }}, 'docall': -1});
                                        {% comment %}获赞量减一{% endcomment %}

                                        nowLikeNum -= 1;
                                        spanObj.innerHTML = nowLikeNum;
                                        spanObj.className = 'likeNum';
                                        doCall.style.backgroundColor = 'transparent';
                                        doCall.onmouseover = function () {
                                            doCall.style.backgroundColor = '#8fd19e';
                                        }
                                        doCall.onmouseleave = function () {
                                            doCall.style.backgroundColor = 'transparent';
                                        }

                                    }


                                }


                            }


                            //点击小图片，显示表情
                            $(".bq").click(function (e) {
                                $(".face").slideDown(); //慢慢向下展开
                                e.stopPropagation(); //阻止冒泡事件
                            });

                            //在桌面任意地方点击，关闭表情框
                            $(document).click(function () {
                                $(".face").slideUp(); //慢慢向上收
                            });

                            //点击小图标时，添加功能
                            $(".face ul li").click(function () {
                                let simg = $(this).find("img").clone();
                                $(".message").append(simg); //将表情添加到输入框
                            });

                            //点击发表按扭，发表内容
                            $("span.submit").click(function () {
                                let txt = $(".message").html(); //获取输入框内容
                                if (!txt) {
                                    $('.message').focus(); //自动获取焦点
                                    return;
                                }

                                {% comment %}数据保存到服务器{% endcomment %}
                                $ajax('post', {% url "app:addJudgeList" %},
                                    {
                                        'judgerId': 1,
                                        'blogId': {{ blogid }},
                                        'date': NowTime(),
                                        'content': txt
                                    },
                                    function (msg) {
                                        {% comment %}拿到该评论的id,以便用户需要删除该评论时用{% endcomment %}
                                        let judgeId = JSON.parse(msg)['judgeId'];
                                        let obj = {
                                            'name': 'LLL',
                                            'avatar': 'static/avatar/20210602/avatar.png',
                                            'date': NowTime(),
                                            'content': txt,
                                            'id': judgeId
                                        };
                                        innerHTMl([obj]); //渲染当前输入框内容
                                        $('.message').html(''); // 清空输入框
                                        msgBoxList.unshift(obj); //添加到数组里


                                    },
                                    function (msg) {
                                        alert(JSON.parse(msg)['msg']);
                                    }
                                )


                            });

                            //删除当前数据
                            $("body").on('click', '.del', function () {
                                let index = $(this).parent().parent().index();
                                let judgeId = msgBoxList[0].id;
                                {% comment %}删除数据库中的数据{% endcomment %}
                                $ajax('post', {% url 'app:deleteJudgeList' %}, {'judgeId': judgeId},
                                    function (msg) {
                                        {#alert(JSON.parse(msg)['msg']);#}
                                    },
                                    function (msg) {
                                        alert(JSON.parse(msg)['msg']);
                                    }
                                );
                                {% comment %}删除页面上的数据{% endcomment %}
                                msgBoxList.splice(index, 1);
                                {#window.localStorage.setItem('msgBoxList', JSON.stringify(msgBoxList))#}
                                $(this).parent().parent().remove();


                            })

                            //渲染html
                            function innerHTMl(List) {
                                List = List || [];
                                List.forEach(item => {
                                    let str = `<div class='msgBox' id="${item.id}">
						<div class="headUrl">
							<img src='${item.avatar}'   width='50' height='50'/>
							<div>
								<span class="title" style="color:deepskyblue;">${item.name}</span>
								<span class="time">${item.date}</span>
							</div>
							<a class="del">删除</a>
						</div>
						<div class='msgTxt'>
							${item.content}
						</div>
					</div>`;
                                    $(".msgCon").prepend(str);

                                })
                            }
                        </script>
                        {% comment %}评论end{% endcomment %}

                    </div>


                </div>


            </div>


        </div>


        <div id="learn-content-ri">

            {% comment %}日历{% endcomment %}
            <link rel="stylesheet" href="../static/css/rili.css">
            <div id="calendar">
                <div class="toprow">
                    <div class="select">
                        <select name="year" id="select_month">
                            <option value="0">一月</option>
                            <option value="1">二月</option>
                            <option value="2">三月</option>
                            <option value="3">四月</option>
                            <option value="4">五月</option>
                            <option value="5">六月</option>
                            <option value="6">七月</option>
                            <option value="7">八月</option>
                            <option value="8">九月</option>
                            <option value="9">十月</option>
                            <option value="10">十一月</option>
                            <option value="11">十二月</option>
                        </select>
                        <input type="number" value="2020" id="select_year">
                    </div>
                    <div class="navigate">
                        <button id="prev_month">上个月</button>
                        <button id="curr_month">当前</button>
                        <button id="next_month">下个月</button>
                    </div>
                </div>
                <div class="days">
                    <div>日</div>
                    <div>一</div>
                    <div>二</div>
                    <div>三</div>
                    <div>四</div>
                    <div>五</div>
                    <div>六</div>
                </div>
                <div id="dates">

                </div>
            </div>
            <script src="../static/js/rili.js"></script>
            {% comment %}日历end{% endcomment %}


            {% comment %}相关推荐{% endcomment %}
            <span id="recommendTag">相关推荐</span>

            <div id="recommend">


                <ul>

                    {% for recommendBlog in recommendBlogList %}
                        <li><strong style="font-size: 30px;color: #FFFFFF; ">·&nbsp;</strong><a
                                href="{% url 'app:learningPlanet' blogid=recommendBlog.id %}">{{ recommendBlog.title }}  </a>
                        </li>

                    {% endfor %}


                </ul>


            </div>
            {% comment %}相关推荐end{% endcomment %}

        </div>


        {% include 'footer.html' %}
        <div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>
        <script type="text/javascript" src="static/js/rock.js"></script>
        <script type="text/javascript">
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() >= 100) {
                        $('.actGotop').fadeIn(300);
                    } else {
                        $('.actGotop').fadeOut(300);
                    }
                });
                $('.actGotop').click(function () {
                    $('html,body').animate({scrollTop: '0px'}, 800);
                });
            });
        </script>
        {% comment %}小火箭end{% endcomment %}



{% endblock %}