{% extends 'baseForPlanet.html' %}
{% load static %}
{% block title %}学习星球{% endblock %}
{% block content2 %}


    {% comment %}搜索结果的样式{% endcomment %}
    <style>
        #learn-content-le .searchReault {
            width: 850px;
            height: 100px;
            display: block !important;
            margin: 30px 25px;
            background-color: rgba(0, 0, 0, .3);
            border-bottom: 2px solid gray;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            overflow: hidden !important; /*隐藏超出的部分*/


        }

        #learn-content-le .searchReault a {
            width: 100%;
            height: 100%;
            display: inline-block;
            text-decoration: none;
            position: relative;
            color: black;

        }

        #learn-content-le .searchReault a h3 {
            position: absolute;
            height: 25%;
            width: 70%;
        }

        #learn-content-le .searchReault a p {
            position: absolute;
            text-indent: 2em;
            top: 25px;
            font-size: 14px;
            height: 75%;
            width: 100%;
            padding: 6px;
            line-height: 23px;
        }

        #learn-content-le .searchReault a span {
            position: absolute;
            height: 25%;
            width: 20%;
            right: 20px;
            top: 0;
            font-size: 14px;
            color: gray;
            text-align: center;
            line-height: 25px;
        }

        #learn-content-le .searchReault a span[class=author] {
            right: 140px;
        }

        #learn-content-le .searchReault:hover {
            -webkit-animation-name: move;
            animation-name: move;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            background-color: rgba(255, 255, 255, 0.2);
        }


    </style>
    {% comment %}搜索结果的样式end{% endcomment %}

    <style>


        #learn-content {
            width: 100%;
            position: relative;
            margin-top: 10px;
            border-radius: 15px;
            margin-bottom: 10px;
        }

        #learn-content-le {
            width: 900px;
            left: 0;
            top: 0;
            position: relative;
            display: inline-block;
            color: black;
            background-color: rgba(255, 243, 205, 0.9);
            border-radius: 15px;
            min-height: 500px;

        }

        {% comment %}当前位置{% endcomment %}
        #nowLocation {
            top: 0;
            width: 100%;
            height: 50px;
            position: relative;
            line-height: 50px;
            padding-left: 20px;
            border-bottom: 1px solid gray;
        }

        {% comment %}文章部分{% endcomment %}
        #learn-blogContent {
            width: 100%;
            position: relative;
            overflow: hidden;

        }

        #article-detail {
            width: 100%;
            position: relative;
            top: 0;
            height: 30px;
            line-height: 30px;
        }

        #article-detail span {
            font-size: 14px;
            color: gray !important;
            margin-left: 10px;
        }

        #modifyBlog {
            position: absolute;
            right: 10px;
            border: 1px solid gray;
            border-radius: 5px;
            height: 20px;
            line-height: 20px;
            top: 5px;
            font-size: 14px;
            text-align: center;
            width: 90px;
            background-color: whitesmoke;

        }

        #modifyBlog a, #modifyBlog a .iconfont {
            color: black !important;

        }

        {% comment %}文章收藏,点赞等{% endcomment %}
        #blog-extend {

            width: 100%;
            position: relative;
            border-top: 1px solid gray;


        }

        #blog-extend #collect, #doCall {
            top: 20px;
            width: 100px;
            height: 30px;
            position: absolute;
            border-radius: 10px;
            text-align: center;
            color: black;
            line-height: 30px;

        }

        #collect .iconfont, #doCall .iconfont {
            font-size: 20px;
        }

        #collect {
            right: 350px;
        }

        #doCall {
            right: 150px;
            color: #a27b7b;
            transition: background-color 0.5s;
            cursor: pointer;
        }

        #collect, #saveRandomPenTag {
            cursor: pointer;
        }

        #doCall:hover, #collect:hover, #saveRandomPenTag:hover {
            background-color: #8fd19e;
        }


        #lastPage, #nextPage {
            position: absolute;
            top: 100px;
            width: 100px;
            text-align: center;
            height: 30px;
            line-height: 30px;
            border-radius: 10px;
        }

        #lastPage {
            left: 100px;
        }

        #nextPage {
            right: 100px;
        }


        #learn-content-ri {
            position: absolute;
            left: 910px;
            top: 50px;
            border-radius: 15px;
            width: 380px;
            min-height: 800px;
        }

        #learn-content-ri * {
            border-radius: 5px;
            overflow: hidden;
            outline: none !important;
            border: none;

        }

        #recommend {
            position: relative;
            width: 100%;
            top: 50px;
            height: 300px;
            border: 1px solid gray;
            color: #FFFFFF;
            background-color: #8fd19e;
        }


        #recommendTag, #randomPenTag {
            position: relative;
            height: 20px;
            top: 50px;
            width: 100px;
            display: inline-block;
            color: #FFFFFF;

        }

        #randomPenFrame {
            width: 100%;
            height: 250px;
            background-color: silver;
            position: relative;
            top: 150px;

        }


        #randomPenTag, #saveRandomPenTag {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        #saveRandomPenTag {
            left: 310px;
            border: 1px solid silver;
            background-color: #fbdcdc;
            font-size: 13px;
            padding: 2px;
        }

        #randomPen {
            width: 96%;
            height: 200px;
            border: 1px solid green;
            position: relative;
            top: 30px;
            padding: 5px;
            background-color: #fbdcdc;
            color: deepskyblue;
            resize: none;
            overflow-y: auto;
            text-indent: 2em;
            left: 2%;

        }


        #recommend ul {
            width: 100%;
            height: 100%;

        }

        #recommend ul li {
            width: 100%;
            height: 20%;
            line-height: 60px;
            padding-left: 20px;
            border-bottom: 1px solid gray;
            overflow: hidden; /*隐藏超出的部分*/
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        #recommend ul li a {
            width: 100%;
            color: #FFFFFF;
        }


    </style>
    {% comment %}小火箭{% endcomment %}
    <style>
        /* actGotop */
        .actGotop {
            position: fixed;
            _position: absolute;
            bottom: 50px;
            right: 10px;
            width: 120px;
            height: 195px;
            display: none;
        }

        .actGotop a, .actGotop a:link {
            width: 150px;
            height: 195px;
            display: inline-block;
            background: url({% static 'imgs/rock.png' %}) no-repeat;
            _background: url({% static 'imgs/rock2.gif' %}) no-repeat;
            outline: none;
        }

        .actGotop a:hover {
            background: url({% static 'imgs/rock3.gif' %}) no-repeat;
            outline: none;
        }
    </style>
    {% comment %}回到顶部的小火箭{% endcomment %}
    <div id="learn-content">
        <div id="learn-content-le">
            {% comment %}显示当前位置{% endcomment %}
            <div id="nowLocation">
                当前位置: <strong><a href="#" id="categoryLocation">{{ blogCategory }}</a></strong> >> <strong><a
                    href="{% url 'app:learningPlanet' blogid=blogid %}">{{ blogTitle }}</a></strong>
            </div>


            {% comment %}文章部分{% endcomment %}
            <div id="learn-blogContent">
                {% comment %}标题{% endcomment %}
                <h1 style="text-align: center;height: 40px;padding: 0;margin: 0;">{{ blogTitle }}</h1>
                {% comment %}文章相关信息{% endcomment %}
                <div id="article-detail">

                    <span>作者: <a href="{% url 'app:personalCenter' userId=authorId %}">{{ authorName }}</a></span>
                    <span>浏览量:{{ blogTotalViews }}</span>
                    <span>发布时间:{{ blogCreatedTime }}</span>
                    <span>更新时间:{{ blogUpdatedTime }}</span>

                    {% for blogTag in blogTags %}
                        <span style="margin: 0;padding: 0;font-size: 10px;"><span class="iconfont" style="font-size: 10px">&#xe636;</span>{{ blogTag }}</span>

                    {% endfor %}

                    {% if isModify %}

                        <span id="modifyBlog"><a
                                href="{% url 'app:modifyBlog' blogid=blogid authorid=authorId %} "><span
                                class="iconfont">&#xe700;</span>编辑原文</a></span>
                    {% else %}
                        <span id="modifyBlog" style="cursor: pointer"><span class="iconfont">&#xe700;</span>编辑原文</span>
                        <script>
                            let modifyBlogDiv = document.getElementById('modifyBlog');

                            modifyBlogDiv.onclick = function () {
                                alert('对不起,没有权限.');
                            }


                        </script>

                    {% endif %}


                </div>
                <style>
                    .wangEditor-menu-container {
                        display: none !important;
                    }

                    .wangEditor-container {
                        background-color: transparent !important;
                    }

                    .collected {
                        background-color: #8fd19e;
                    }

                    .collect {
                        background-color: transparent;
                    }

                </style>

                <div id="editor-trigger"
                     style="width: 100%;min-height: 500px;overflow-x: auto;overflow-y: hidden;background-color: transparent;"
                     contentEditable="false">

                    {{ blogContent|safe }}

                </div>
                {% comment %}引入富文本文件{% endcomment %}
                {% include 'editor.html' %}
                <script>
                    {% comment %}改为不可编辑{% endcomment %}
                    let editorTrigger = document.getElementById('editor-trigger');
                    editorTrigger.contentEditable = 'false';
                </script>
                {% comment %}文章内容end{% endcomment %}

                {% comment %}文章收藏,点赞等{% endcomment %}
                <div id="blog-extend">
                    <span id="collect">
                        <span class="iconfont"> &#xe620;</span>&nbsp;收藏本文
                    </span>


                    <script>

                        let collect = document.getElementById('collect');
                        if ("{{ isCollected }}") { {% comment %}判断该文章时候已被当前用户收藏{% endcomment %}
                            collect.className = 'collected';
                            collect.innerHTML = `<span class="iconfont">&#xe620;</span>&nbsp;已收藏`;
                        } else {
                            collect.className = 'collect';
                        }

                        {% comment %}点击收藏和取消收藏{% endcomment %}


                        if ('{{ LoginStatus }}' === 'true') { {% comment %}登录之后才能进行收藏{% endcomment %}
                            collect.onclick = function () {
                                if (collect.className.toLowerCase() === 'collected') {

                                    $ajax('post', '{% url "app:collect"%}', {
                                            'userId': "{{ userId }}",
                                            'blogId': "{{ blogid }}",
                                            'isCollected': 0
                                        },
                                        function () {
                                        },
                                        function (msg) {
                                            alert(JSON.parse(msg)['msg']);
                                        }
                                    )

                                    collect.innerHTML = `<span class="iconfont">&#xe620;</span>&nbsp;收藏本文`;
                                    collect.className = 'collect';
                                    collect.style.backgroundColor = 'transparent';
                                    collect.onmouseover = function () {
                                        collect.style.backgroundColor = '#8fd19e';
                                    }
                                    collect.onmouseleave = function () {
                                        collect.style.backgroundColor = 'transparent';
                                    }


                                } else {
                                    $ajax('post', '{% url "app:collect"%}', {
                                            'userId': "{{ userId }}",
                                            'blogId': "{{ blogid }}",
                                            'isCollected': 1
                                        },
                                        function () {
                                        },
                                        function (msg) {
                                            alert(msg + '失败');
                                        }
                                    )


                                    collect.className = 'collected';
                                    collect.innerHTML = `<span class="iconfont">&#xe620;</span>&nbsp;已收藏`;
                                    collect.style.backgroundColor = '#8fd19e';
                                    collect.onmouseover = function () {
                                    }
                                    collect.onmouseleave = function () {
                                    }
                                }

                            }
                        } else {
                            collect.onclick = function () {
                                alert('请先登录~');
                            }
                        }


                    </script>

                    <span id="doCall"><span class="iconfont">&#xe697;</span>&nbsp;<span
                            class="likeNum">{{ blogTotalLikes }}</span> </span>
                    <span id="lastPage"><a href="{% url 'app:learningPlanet' blogid=preBlogId %}"><span
                            class="iconfont">&#xe600;</span>&nbsp;上一篇</a></span>
                    <span id="nextPage"><a href="{% url 'app:learningPlanet' blogid=nextBlogId %}">下一篇&nbsp;<span
                            class="iconfont">&#xe621;</span></a></span>

                    {% comment %}评论{% endcomment %}
                    <style type="text/css">

                        #qq {
                            width: 600px;
                            /*宽*/
                            height: 200px;
                            /*高*/
                            background: #fff;
                            /*背景颜色*/
                            margin: 50px auto 30px;
                            margin-top: 150px;

                            border-radius: 5px;
                            /*Html5 圆角*/
                        }

                        #qq p {
                            font-size: 12px;
                            color: #666;
                            font-family: "微软雅黑";
                            line-height: 45px;
                            text-indent: 20px;
                        }

                        #qq .message {
                            width: 560px;
                            height: 70px;
                            margin: 0 auto;
                            overflow: auto;
                            outline: none;
                            border: 1px solid #ddd;
                            padding: 8px;
                            box-sizing: border-box;
                            font-size: 14px;
                            color: #e77f29;
                            -webkit-background-clip: text;
                            /*粗细 风格 颜色*/
                        }

                        #qq .But {
                            width: 560px;
                            height: 35px;
                            margin: 15px auto 0;
                            position: relative;
                            /*相对，参考对象*/
                        }

                        #qq .But img.bq {
                            float: left;
                            /*左浮动*/
                        }

                        #qq .But span.submit {
                            margin: 0;
                            padding: 0;
                            width: 80px;
                            height: 30px;
                            background: #ff8140;
                            display: block;
                            float: right;
                            /*右浮动*/
                            line-height: 30px;
                            border-radius: 5px;
                            cursor: pointer;
                            /*手指*/
                            color: #fff;
                            font-size: 12px;
                            text-align: center;
                            font-family: "微软雅黑";
                        }

                        /*face begin*/
                        #qq .But .face {
                            width: 440px;
                            background: #fff;
                            border: 1px solid #ddd;
                            box-shadow: 0 0 12px #666;
                            position: absolute;
                            /*绝对定位*/
                            top: 21px;
                            left: 15px;
                            display: none;
                            /*隐藏*/
                        }

                        #qq .But .face ul {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            padding: 8px;
                            box-sizing: border-box;
                        }

                        #qq .But .face ul li {
                            width: 30px;
                            height: 30px;
                            list-style-type: none;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        /*msgCon begin*/
                        .msgCon {
                            width: 600px;
                            margin: 0 auto;
                            margin-bottom: 60px;
                        }

                        .msgCon .msgBox {
                            background: #fff;
                            padding: 10px;
                            box-sizing: border-box;
                            margin-top: 16px;
                            border-radius: 4px;
                        }

                        .msgCon .msgBox .headUrl {
                            width: 100%;
                            height: 60px;
                            border-bottom: 1px dotted #ddd;
                            display: flex;
                            align-items: center;
                        }

                        .msgCon .msgBox .headUrl img {
                            width: 46px;
                            height: 46px;
                            border-radius: 50%
                        }

                        .msgCon .msgBox .headUrl div {
                            flex: 1;
                            display: flex;
                            flex-flow: column;
                            font-size: 16px;
                            margin-left: 16px;
                            -webkit-background-clip: text;
                            color: transparent;
                            background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
                        }

                        .msgCon .msgBox .headUrl div .time {
                            font-size: 14px;
                            margin-top: 6px;
                            -webkit-background-clip: text;
                            color: transparent;
                            background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
                        }

                        .msgCon .msgBox .headUrl a {
                            font-size: 14px;
                            padding: 10px;
                            color: salmon;
                            cursor: pointer;
                        }

                        .msgCon .msgBox .msgTxt {
                            font-size: 14px;
                            min-height: 40px;
                            line-height: 24px;
                            padding: 10px;
                            box-sizing: border-box;
                            word-wrap: break-word;
                            -webkit-background-clip: text;
                            color: transparent;
                            background-image: linear-gradient(to right, #778899 0%, #333 100%);
                        }
                    </style>
                    <div id="qq">
                        <p>有什么想对作者说的吗?</p>
                        <div class="message" contentEditable='true'></div>
                        <div class="But">
                            <span class='submit'>发表</span>

                        </div>
                    </div>
                    <!--qq end-->
                    <!--msgCon begin-->
                    <div class="msgCon"></div>
                    <script type="text/javascript" src="{% static 'js/pinlun.js' %}"></script>
                    <script type="text/javascript">
                        let msgBoxList = [];
                        window.onload = function () {
                            {% comment %}请求服务器获取对应的评论信息{% endcomment %}
                            $ajax('post', '{% url "app:returnJudgeList" %}', {'blogId':{{blogid}}},
                                function (msg) {
                                    msgBoxList = JSON.parse(msg)['judgeList'];
                                    innerHTMl(msgBoxList, false);

                                },
                                function (msg) {
                                });


                            {% comment %}点赞功能的实现{% endcomment %}
                            let doCall = document.getElementById('doCall');
                            doCall.onclick = function () {
                                let spanObj = doCall.getElementsByTagName('span')[1];
                                let spanClassName = spanObj.className;
                                let nowLikeNum = parseInt(spanObj.innerHTML);
                                if (spanClassName.toLowerCase() === 'likenum') {
                                    $ajax('post', {% url 'app:doCall' %}, {'blogId':{{ blogid }}, 'docall': 1});
                                    {% comment %}获赞量加一{% endcomment %}
                                    nowLikeNum += 1;
                                    spanObj.innerHTML = nowLikeNum;
                                    spanObj.className = 'notLike';
                                    doCall.style.backgroundColor = '#8fd19e';
                                    doCall.onmouseover = function () {
                                    }
                                    doCall.onmouseleave = function () {
                                    }
                                }
                                if (spanClassName.toLowerCase() === 'notlike') {
                                    $ajax('post', {% url 'app:doCall' %}, {'blogId':{{ blogid }}, 'docall': -1});
                                    {% comment %}获赞量减一{% endcomment %}
                                    nowLikeNum -= 1;
                                    spanObj.innerHTML = nowLikeNum;
                                    spanObj.className = 'likeNum';
                                    doCall.style.backgroundColor = 'transparent';
                                    doCall.onmouseover = function () {
                                        doCall.style.backgroundColor = '#8fd19e';
                                    }
                                    doCall.onmouseleave = function () {
                                        doCall.style.backgroundColor = 'transparent';
                                    }
                                }
                            }
                            {% comment %}点击分类按钮,返回对应的数据{% endcomment %}
                            let categoryLocation = document.getElementById('categoryLocation');
                            var value = categoryLocation.innerHTML;
                            categoryLocation.onclick = function () {
                                searchAndCategory(value);
                            }
                            {% comment %}点击分类按钮,返回对应的数据end{% endcomment %}
                        }
                        //点击发表按扭，发表内容
                        if ('{{ LoginStatus }}' === 'true') {
                            $("span.submit").click(function () {
                                let txt = $(".message").html(); //获取输入框内容
                                if (!txt) {
                                    $('.message').focus(); //自动获取焦点
                                    return;
                                }

                                {% comment %}数据保存到服务器{% endcomment %}
                                $ajax('post', {% url "app:addJudgeList" %},
                                    {
                                        'judgerId': {{ userId }},
                                        'blogId': {{ blogid }},
                                        'date': NowTime(),
                                        'content': txt
                                    },
                                    function (msg) {
                                        {% comment %}拿到该评论的id,以便用户需要删除该评论时用{% endcomment %}
                                        let judgeId = JSON.parse(msg)['judgeId'];
                                        let obj = {
                                            'name': '{{ userName }}',
                                            'avatar': 'http://www.lll.plus/' + '{{ userAvatar }}',
                                            'date': NowTime(),
                                            'content': txt,
                                            'id': judgeId
                                        };
                                        innerHTMl([obj], true); //渲染当前输入框内容
                                        $('.message').html(''); // 清空输入框
                                        msgBoxList.unshift(obj); //添加到数组里
                                    },
                                    function (msg) {
                                        alert(JSON.parse(msg)['msg']);
                                    }
                                )
                            });
                        } else {
                            $("span.submit").click(function () {
                                alert('请先登录~')
                            });
                        }
                        //删除当前数据
                        $("body").on('click', '.del', function () {
                            let index = $(this).parent().parent().index();
                            let judgeId = msgBoxList[0].id;
                            {% comment %}删除数据库中的数据{% endcomment %}
                            $ajax('post', {% url 'app:deleteJudgeList' %}, {'judgeId': judgeId},
                                function (msg) {

                                },
                                function (msg) {
                                    alert(JSON.parse(msg)['msg']);
                                }
                            );
                            {% comment %}删除页面上的数据{% endcomment %}
                            msgBoxList.splice(index, 1);
                            {#window.localStorage.setItem('msgBoxList', JSON.stringify(msgBoxList))#}
                            $(this).parent().parent().remove();
                        })

                        //渲染html
                        function innerHTMl(List, isFabu) { {% comment %}如果当前时发布评论,则nowId=''{% endcomment %}
                            List = List || [];
                            List.forEach(item => {
                                if (isFabu) {
                                    var nowId = '';

                                } else {
                                    var nowId = item.judgerId.toString();
                                }
                                if ("{{ userId }}" === nowId || nowId === '') {

                                    let str = `<div class='msgBox' id="${item.id}">
						<div class="headUrl">
							<img src='${item.avatar}'   width='50' height='50'/>
							<div>
								<span class="title" style="color:deepskyblue;">${item.name}</span>
								<span class="time">${item.date}</span>

							</div>
  <a class="del">删除</a>
						</div>
						<div class='msgTxt'>
							${item.content}
						</div>
					</div>`;
                                    $(".msgCon").prepend(str);
                                } else {
                                    let str = `<div class='msgBox' id="${item.id}">
						<div class="headUrl">
							<img src='${item.avatar}'   width='50' height='50'/>
							<div>
								<span class="title" style="color:deepskyblue;">${item.name}</span>
								<span class="time">${item.date}</span>
							</div>
							<a class="del" style="display: none;">删除</a>
						</div>
						<div class='msgTxt'>
							${item.content}
						</div>
					</div>`;
                                    $(".msgCon").prepend(str);
                                }
                            })
                        }
                    </script>
                    {% comment %}评论end{% endcomment %}
                </div>
            </div>
        </div>

        <div id="learn-content-ri">
            {% comment %}相关推荐{% endcomment %}
            <span id="recommendTag">相关推荐</span>
            <div id="recommend">
                <ul>

                    {% for recommendBlog in recommendBlogList %}
                        <li><strong style="font-size: 30px;color: #FFFFFF; ">·&nbsp;</strong><a
                                href="{% url 'app:learningPlanet' blogid=recommendBlog.id %}">{{ recommendBlog.title }}  </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            {% comment %}相关推荐end{% endcomment %}

            {% comment %}随笔,用于随看随记{% endcomment %}
            <div id="randomPenFrame"><span id="randomPenTag">随笔</span>
                <span id="saveRandomPenTag">保存随笔</span>
                <textarea id="randomPen" placeholder="好记性不如烂笔头,想到什么就记下来吧!" maxlength="300"></textarea>
            </div>

            <script>

                let saveRandomPenTag = document.getElementById('saveRandomPenTag');
                if ('{{ LoginStatus }}' === 'true') {
                    saveRandomPenTag.onclick = function () {
                        let randomPen = document.getElementById('randomPen');
                        var content = randomPen.value;
                        if (!content) {
                            alert('写点东西再保存吧~');

                        } else {
                            $ajax('post', '{% url "app:saveRandomPen" %}', {
                                    "content": content,
                                    'userId':{{userId}},
                                    'blogId':{{ blogid }}
                                },
                                function () {

                                },
                                function (msg) {
                                    alert(JSON.parse(msg)['msg']);
                                }
                            )

                            alert('随笔保存成功!');
                        }


                    }
                } else {
                    saveRandomPenTag.onclick = function () {

                        alert('请先登录~');


                    }
                }


            </script>


            {% comment %}随笔,用于随看随记end{% endcomment %}

        </div>


        {% include 'footer.html' %}
        <div class="actGotop"><a href="javascript:" title="返回顶部"></a></div>
        <script type="text/javascript">
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() >= 100) {
                        $('.actGotop').fadeIn(300);
                    } else {
                        $('.actGotop').fadeOut(300);
                    }
                });
                $('.actGotop').click(function () {
                    $('html,body').animate({scrollTop: '0px'}, 800);
                });
            });
        </script>
        {% comment %}小火箭end{% endcomment %}




{% endblock %}