{% extends 'base.html' %}
{% load static %}

{% block title %}博客修改{% endblock %}
{% block content %}



        <div id="editor-trigger">
            {{ content|safe }}
        </div>

        <link rel="stylesheet" type="text/css" href="{% static 'css/wangEditor.css' %}">
        <style type="text/css">
        #editor-trigger {
            height: 300px;
            max-height: 500px;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/wangEditor1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wangEditor2.js' %}"></script>
    <script type="text/javascript">
        // 阻止输出log
        // wangEditor.config.printLog = false;
        var editor = new wangEditor('editor-trigger');
        // 上传图片
        editor.config.uploadImgUrl = '/upload';
        editor.create();
    </script>



{% endblock %}