{% extends 'base.html' %}
{% load static %}

{% block title %}博客编辑{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/modifyBlog.css' %}">


    <form action="{% url 'app:modifyBlog' blogid=blogid authorid=authorid %}" method="post">
        <div id="modify-head">
            <div class="modifyClass"><span>标题</span> <input type="text" value="{{ title }}" name="title" required></div>
            <div class="modifyClass"><span>分类</span> <input type="text" list="category" value="{{ category }}" required
                                                            name="category"></div>

            <div class="modifyClass"><span class="modifytag">标签1<span class="iconfont">&#xe636;</span></span><input
                    name="tag1" list="tags" type="text" value="{{ tag1 }}"></div>
            <div class="modifyClass"><span class="modifytag">标签2<span class="iconfont">&#xe636;</span></span> <input
                    name="tag2" list="tags" type="text" value="{{ tag2 }}"></div>
            <div class="modifyClass"><span class="modifytag">标签3<span class="iconfont">&#xe636;</span></span> <input
                    name="tag3" list="tags" type="text" value="{{ tag3 }}"></div>
            <datalist id="category">
                {% for categoryObj in categoryList %}
                    <option>{{ categoryObj.title }}</option>
                {% endfor %}

            </datalist>
            <datalist id="tags">
                {% for tag in tagsList %}
                    <option>{{ tag }}</option>

                {% endfor %}

            </datalist>
            <button type="submit" id="submit">发&nbsp;&nbsp;布</button>
        </div>
        <div id="editor-trigger" style="height: 700px;">

            {% if content %}
                {{ content|safe }}
            {% else %}
                写下你的想法吧~
            {% endif %}

        </div>
    </form>

    {% comment %}引入富文本文件{% endcomment %}
    {% include 'editor.html' %}
    <script type="text/javascript">
        window.onload = function () {
            let submitDiv = document.getElementById('submit');

            function addContent() {
                let contentDiv = document.getElementById('editor-trigger');
                content = contentDiv.innerHTML;
                let newInput = document.createElement('input');
                newInput.name = 'content';
                newInput.value = content;
                submitDiv.parentNode.appendChild(newInput);
            }

            submitDiv.addEventListener('click', addContent);

        }

    </script>


    {% include 'footer.html' %}

{% endblock %}