{% extends 'base.html' %}
{% load static %}
{% block title %}个人中心{% endblock %}

{% block content %}

    {% include 'baseHead.html' %}

    <style>

        #personalContent {
            width: 100%;
            height: 1200px;
            margin-top: 10px;
            border: 1px solid blue;
            position: relative;
            margin-bottom: 10px;

        }


        #personalDesc {
            width: 500px;
            height: 500px;
            position: relative;
            background-color: rgba(125, 187, 135, 1);
            top: 10px;
            left: 10px;
            border-radius: 15px;
        }

        #personalAvatar {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid white;
            left: 100px;
            top: 20px;
        }

        #aaa {
            position: absolute;
            left: 100px;
            width: 400px;
            height: 350px;
            top: 150px;
        }

        #aaa .aaa {
            width: 98%;
            height: 20%;
            margin-top: 10px;
            border: 1px solid gray;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
        }

        #aaa .aaa span {
            position: absolute;
            left: 0;
            width: 15%;
            height: 100%;
            text-align: center;
            line-height: 68px;
        }


        #aaa .aaa input {
            outline: none;
            right: 5%;
            position: absolute;
            height: 100%;
            width: 80%;
            font-size: 20px;
            border: none;
            background-color: transparent;
        }

        #degree {
            position: absolute;
            left: 80px;
            top: 120px;
            font-size: 12px;
            color: gray;
        }

        #modifyAvatar {
            position: absolute;
            left: 160px;
            top: 120px;
            font-size: 12px;
            color: gray;
            border: 1px solid transparent;
            cursor: pointer;
        }

        #modifyAvatar:hover {
            background-color: goldenrod;
            border: 1px solid gray;
            border-radius: 5px;
        }

        #collectList {
            width: 700px;
            height: 500px;
            position: absolute;
            background-color: rgba(125, 187, 135, 1);
            top: 10px;
            right: 50px;
            border-radius: 15px;

        }

        #manageTable {
            position: relative;
            width: 100%;
            height: 600px;
            background-color: rgba(125, 187, 135, 1);
            top: 50px;
            border-radius: 15px;

        }

        span:hover{
            cursor: pointer;
        }


    </style>


    <div id="personalContent">
        {% comment %}个人资料{% endcomment %}
        <div id="personalDesc">

            <img id="personalAvatar" src="http://www.lll.plus/{{ user.avatar }}">

            {% if user.is_superuser %}
                <span id="degree"><span class="iconfont" style="  font-size: 12px;">&#xe68a;</span>管理员</span>
            {% else %}
                <span id="degree"><span class="iconfont" style="  font-size: 12px;">&#xe60f;</span>普通用户</span>

            {% endif %}


            <span id="modifyAvatar">修改头像</span>
            <div id="aaa">

                {% if user.username %}
                    <div class="aaa"><span>昵称:</span> <input type="text" value="{{ user.username }}" contentEditable="false"></div>

                {% else %}
                    <div class="aaa"><span>昵称:</span> <input type="text" value="最亮的那颗星~"></div>

                {% endif %}



                <div class="aaa" style="margin-bottom: 10px;"><span>职业:</span> <input type="text" value='全栈开发师'></div>
                <span style="color: gray;font-size: 16px;">个人简介:</span>
                <br><br>

            {% if user.desc %}
             <textarea placeholder="{{ user.desc }}"
                          style="background-color: transparent; outline: none;resize: none;width: 378px;height: 105px;border-radius: 15px;padding: 10px;text-indent: 2em;overflow: hidden;"></textarea>
                {% else %}
                <textarea placeholder="这个人很懒,ta什么都没写~"
                          style="background-color: transparent; outline: none;resize: none;width: 378px;height: 105px;border-radius: 15px;padding: 10px;text-indent: 2em;overflow: hidden;"></textarea>
            {% endif %}


            </div>


        </div>
        {% comment %}个人资料end{% endcomment %}

        <div id="collectList">收藏记录</div>


        {% comment %}管理台(身份是管理员才会显示){% endcomment %}

        <div id="manageTable">管理台</div>

        {% comment %}管理台end{% endcomment %}

    </div>







    {% include 'footer.html' %}


{% endblock %}