{% extends 'base.html' %}
{% load static %}
{% block title %} 注册 {% endblock %}

{% block content %}
    <style>
        * {
            z-index: 1;
        }

        .notclick {
            pointer-events: none;
        }

    </style>

    <div id="formBox">
        {% comment %}验证码{% endcomment %}
        <div id="yzm"
             style="z-index: 10; border: 1px solid #FFFFFF;background-color:rgba(66, 66, 66, .5);line-height: 30px;border-radius: 10px;   position: absolute; width: 83px; top:205px; height: 30px;font-size: 14px;right:0;color: #FFFFFF;text-align: center;">
            获取验证码
        </div>


        <div class="logo_box">


            <h3>注册<span class="iconfont">&#xe684;</span> <a href="{% url 'app:login' %}"
                                                            style="float:right;"><span
                    class="iconfont">&#xec05;</span>登录</a></h3>
            <hr style="margin-bottom: 50px;">
            <form action="#" name="f" method="post">
                <div class="input_outer">
                    <span class="iconfont">&#xe684;</span>

                    <input name="telNum" class="text" style="color: #FFFFFF !important" type="tel"
                           placeholder="请输入手机号码" maxlength="11" minlength="11">
                </div>

                <div class="input_outer">
                    <span class="iconfont">&#xe619;</span>

                    <input name="yzm" class="text" style="color: #FFFFFF !important" type="text"
                           placeholder="请输入验证码">
                </div>


                <div class="input_outer">
                    <span class="iconfont">&#xe728;</span>
                    <input name="logpass" class="text"
                           style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                           type="password" placeholder="请输入密码(数字,字母,下划线组成)">
                </div>
                <div id="register-button" class="mb2"><a class="act-but submit" href="javascript:;"
                                                         style="color: #FFFFFF;width: 100%;height: 100%;"><button type="submit" style="width: 100%;height: 100%;background-color: transparent;border: none">注册</button></a></div>

            </form>
        </div>


    </div>

  <style>
    #myBlog-footer{
        top:620px!important;
    }
    </style>
    {% include 'footer.html' %}

    <script>
        window.onload = function () {

            {% comment %}点击获取验证码{% endcomment %}
            var yzm = document.getElementById('yzm');
            yzm.onclick = function () {
                let tel = document.getElementsByName('telNum')[0];
                let telValue = tel.value;
                if (!/^[1][345789][0-9]{9}$/.test(telValue)) {
                    alert('请输入正确的电话号码');
                } else {
                    {% comment %}请求后端发送验证码{% endcomment %}
                    $ajax('post', '{% url "app:register" %}', {'tel': telValue}, function (msg) {
                        let data = JSON.parse(msg);
                        alert(data['msg']);
                    }, function (msg) {
                        alert('注册失败!', msg);
                    })
                    let timeOut = 1; //计时器60秒
                    yzm.className = 'notclick';
                    yzm.style.backgroundColor = 'red';
                    let intervalDemo = setInterval(function () {
                        timeOut -= 1;
                        yzm.innerHTML = timeOut + '秒';
                        if (timeOut <= 0) {
                            yzm.innerHTML = '获取验证码';
                            yzm.className = '';
                            yzm.style.backgroundColor = 'rgba(66, 66, 66, .5)';
                            clearInterval(intervalDemo);
                        }

                    }, 1000);


                }


            }


            {% comment %}点击注册{% endcomment %}
            var registerButton = document.getElementById('register-button');
            AddEventListener(registerButton, 'click', checkForm, false);

            function checkForm() {
                let tel = document.getElementsByName('telNum')[0];
                let pwd = document.getElementsByName('logpass')[0];
                let yzm = document.getElementsByName('yzm')[0];
                let telValue = tel.value;
                let pwdValue = pwd.value;
                let yzmValue = yzm.value;
                {% comment %}检验电话号码是否合格{% endcomment %}
                if (!/^[1][345789][0-9]{9}$/.test(telValue)) {
                    alert('请输入正确的电话号码');
                }

                if (pwdValue.length <= 0) {
                } else if (pwdValue.length <= 6) {
                    alert('密码长度至少为6位!');
                } else if (!(/[0-9]/.test(pwdValue) && /[a-zA-Z]/.test(pwdValue) && /_/.test(pwdValue))) {
                    alert('密码必须由数字,字母,下划线组成!');
                } else {

                    $ajax('post', {% url 'app:register' %}, {
                        'tel': telValue,
                        'yzm': yzmValue,
                        'pwd': pwdValue
                    }, function (msg) {
                        data = JSON.parse(msg);

                        alert(data['msg']);

                    }, function (msg) {
                        data = JSON.parse(msg);

                        alert(data['msg']);
                    })

                }


            }


        }


    </script>
    {% include 'randomSentence.html' %}

{% endblock %}







